html {
    scroll-behavior: smooth
}

.ingredientsWrapper {
    max-height: 320px;
    overflow-y: scroll;
}
  
.ingredientList {
    display: flex;
    flex-direction: column;
    padding: 0 32px 0 0;
    margin: 0;
    gap: 16px;
    list-style-type: none;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
    border-radius: 3px;
}