.orderContainer {
    flex: 1;
    max-height: 60vh;
    overflow-y: auto;
}
  
.statsContainer {
    flex: 1;
}
  
.main {
    display: grid;
    justify-content: center;
}
  
.content {
    display: flex;
    justify-content: space-between;
    grid-template-columns: minmax(320px, 600px) minmax(320px, 584px);
}