.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1C1C21;
    border: #4C4CFF 2px;
    border-radius: 50px;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.closeIcon {
    position: absolute;
    top: 60px; 
    right: 40px; 
    cursor: pointer; 
}