.orderWrapper {
    display: grid;
    margin: auto auto;
    width: 640px;
    max-width: 640px;
    padding: 40px
}

.status {
    display: block;
}
  
.status_accent {
    color: var(--colors-interface-success);
}
  
.total_price {
    display: flex;
    justify-content: space-between;
}
  
.price {
    display: flex;
    align-items: center;
}

.status {
    display: block;
}

.statusDone {
    display: block;
    color: #00CCCC;
}