html {
    scroll-behavior: smooth
}

body {
    overflow:hidden;

}

h1 {
    margin: 0px;
    padding: 0px;
}

.heading {
    font-weight: 700;
}

.tab {
    display: flex;
}

.ingredients {
    overflow-y: scroll; 
    height:60vh; 
}

.card{
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 272px;
    height: 208px;
}

.icon {
    display: flex;
    align-items: center;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.column {
    width: 600px;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
    border-radius: 3px;
}

.group {
    display: grid;
    grid-template-columns: auto auto;
    align-items: stretch;
    gap: 24px;
}