html {
    scroll-behavior: smooth
}

body {
    overflow:hidden;

}

h1 {
    margin: 0px;
    padding: 0px;
}

.heading {
    font-weight: 700;
}

.tab {
    display: flex;
}

.ingredients {
    overflow-y: scroll; 
    height: 60vh; 
}

.card{
    position: relative;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 272px;
    height: 208px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.card:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.link {
    text-decoration: none;
    color: inherit;
}

.cardWrapper {
    overflow: 'hidden';
}

.icon {
    display: flex;
    align-items: center;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.column {
    width: 600px;
}

::-webkit-scrollbar-thumb {
    background: #8585AD;
    border-radius: 3px;
}

.group {
    display: grid;
    grid-template-columns: auto auto;
    align-items: stretch;
    gap: 24px;
}

.ingredientDetails {
    align-content: center;
}

.ingredientDetailsName {
    text-align: center;
}

.nutrients {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}

.nutrient {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nutrient > p {
    margin: 0px;
}