.header {
    background-color: #1C1C21;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    min-width: 1000px;
}

.logo {
    display: flex;
}

.link {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    justify-self: start;
}

.icon {
    display: flex;
    align-items: center;
}

.placeholder {
    display: flex;
    justify-content: center;
    width: 176px;
}

.text {
    color: #8585AD;
    background-color: #1C1C21;
    border-width: 0px;
}