.header {
    background-color: #1C1C21;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    min-width: 1000px;
}

@media (max-width: 1200px) {
    .header {
      padding-left: 10%;
      padding-right: 10%;
    }
}
  
@media (max-width: 800px) {
    .header {
      padding-left: 5%;
      padding-right: 5%;
    }
}

.logo {
    display: flex;
}

.link {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    justify-self: start;
}

.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.placeholder {
    display: flex;
    justify-content: center;
    width: 176px;
}

@media (max-width: 800px) {
    .placeholder {
      display: none;
    }
}

.text {
    color: #8585AD;
    background-color: #1C1C21;
    border-width: 0px;
    cursor: pointer;
}
